<!-- header -->
<app-header></app-header>
<!-- end header -->

<!-- menu -->
<app-menu></app-menu>
<!-- menu -->

<!-- main -->
<main>
  <div class="container">
    <div class="row">
      <div class="col-md-3">

        <!-- sidebar -->
        <app-sidebar></app-sidebar>
        <!-- sidebar -->

      </div>
      <div class="col-md-9">

        <!-- router-outlet -->
        <router-outlet></router-outlet>
        <!-- router-outlet -->

      </div>
    </div>
  </div>
</main>
<!-- end main -->

<!-- footer -->
<app-footer></app-footer>
<!-- end footer -->